body {
	margin: 40px;
}
.sidebar {
	grid-area: sidebar;
}
.sidebar2 {
	grid-area: sidebar2;
}
.content {
	grid-area: content;
}
.content2 {
	grid-area: content2;
}
.header {
	grid-area: header;
}
.emptybox{
	grid-area: emptybox;
}
.emptybox2{
	grid-area: emptybox2;
}
.emptybox3{
	grid-area: emptybox3;
}
.wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 120px 240px;
	grid-template-areas: 
		"emptybox header" 
		"sidebar content" 
		"emptybox2 content" 
		"sidebar2 content2" 
		"emptybox3 content2";
	background-color: #fff;
	color: #444;
}
.box {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	font-size: 150%;
}
.header {
	background-color: #999;
}
