body { background-color: #778091;
	margin: 40px;
}
a{color:#adb2ba;}
.menu { 
	grid-area: menu;
}
.sidebar {
	grid-area: sidebar;
}
.sidebar2 {
	grid-area: sidebar2;
}
.sidebar3 {
	grid-area: sidebar3;
}	
.content {
	grid-area: content;
}
.content2 {
	grid-area: content2;
}
.content3 {
	grid-area: content3;
}
.header {
	grid-area: header;
}
.emptybox{
	grid-area: emptybox;
}
.emptybox2{
	grid-area: emptybox2;
}
.emptybox3{
	grid-area: emptybox3;
}
.wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 120px 1000px;
	grid-template-areas: 
		"menu menu menu2"
		"emptybox header" 
		"sidebar content" 
		"emptybox2 content" 
		"sidebar2 content2" 
		"emptybox3 content2"
		"sidebar3 content3" 
		"emptybox4 content3";
		background-color: transparent;
	color: #444;
}
.box {
	background-color: #2f394c;
	color: #7092d1;
	border-radius: 5px;
	padding: 20px;
	font-size: 150%;
}
.header {
	background-color: #2f394c;
}
